

{% extends "layout.html" %}
 
{% block y %}
 
   {% if session.name %}
      <button id="newGame">Create new game</button>
      <button id="joinGame">Join to game</button>

      <div id="gameForm" style="display: none;">
         <form role="form" method="POST" action="{{ url_for('game') }}">
            <label for="planningName">Planning Name:</label><br>
            <input type="text" id="planningName" name="planningName"><br>

            <div id="taskContainer">
               <label for="tasks">Tasks:</label><br>
               <button id="addTask">Add task</button><br>
            </div>

            <label for="cardQuantity">Number of cards:</label><br>
            <select id="cardQuantity" name="cardQuantity">
                  <option value="20">21 Fibbonacci</option>
                  <option value="100">100 Fibbonacci</option>
            </select><br>

            <label for="gameType">Game type:</label><br>
            <select id="gameType" name="gameType">
                  <option value="unanimity">Unanimity</option>
                  <option value="average">Average</option>
                  <option value="median">Median</option>
                  <option value="majority">Majority</option>
                  <option value="all">All</option>
            </select><br>

            <input type="submit" value="Create game">
         </form>
      </div>

      <div id="joinForm" style="display: none;">
         <form>
            <label for="gameCode">Game Code:</label><br>
            <input type="text" id="gameCode" name="gameCode"><br>
            <input type="submit" value="Unirse al juego">
         </form>
      </div>

      {% else %}
      You are not Register. <a href="{{ url_for('login') }}">login</a>.
   {% endif %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}