

{% extends "layout.html" %}

{% block y %}

   {% if session.name %}
      <button id="newTaskButton">Create new task</button>
      <button id="joinTask">Join to game</button>

      <div id="newTaskForm" style="display: none;">
         <form role="form" method="POST" action="{{ url_for('game') }}">
            <label for="taskgName">Task ID:</label><br>
            <input type="text" id="taskName" name="taskName"><br>

            <!-- <div id="taskContainer">
               <label for="tasks">Tasks:</label><br>
               <button id="addTask">Add task</button><br>
            </div> -->

            <!-- <label for="cardQuantity">Number of cards:</label><br>
            <select id="cardQuantity" name="cardQuantity">
                  <option value="20">21 Fibbonacci</option>
                  <option value="100">100 Fibbonacci</option>
            </select><br> -->

            <label for="gameMode">Game mode:</label><br>
            <select id="gameMode" name="gameMode">
               {% for mode, id in modes.items() %}
                  <option value="{{ id }}">{{ mode }}</option>
               {% endfor %}
            </select><br>

            <input type="submit" value="Create game">
         </form>
      </div>

      <div id="joinTaskForm" style="display: none;">
         <form role="form" method="POST" action="{{ url_for('game') }}">
            <label for="gameCode">Game Code:</label><br>
            <input type="text" id="gameCode" name="gameCode"><br>
            <input type="submit" value="Join Game">
         </form>
      </div>
      <table>
         <thead>
            <tr>
               <th>Join Code</th>
               <th>Task id</th>
               <th>Final Score</th>
            </tr>
         </thead>
         <tbody>
         {% for game in games_list %}
         <tr>
            <td>{{ game.id }}</td>
            <td>{{ game.to_dict().get("task_id") }}</td>
            <td>{{ game.to_dict().get("final_score") }}</td>
         </tr>
      {% endfor %}
         </tbody>
      </table>

   {% else %}
      You are not registered. <a href="{{ url_for('login') }}">Login</a>.
   {% endif %}
{% endblock %}
